{% extends "base.twig" %}

{% set hero = post.get_field("mw_apply_hero") %}
{% set what_youll_need = post.get_field("mw_apply_what_youll_need") %}
{% set our_promise = post.get_field("mw_apply_our_promise") %}

{% block content %}
  <div id="apply-form"></div>

  <script type="text/x-template" id="apply_form">
    <div class="apply_form">
      <div class="apply_form__steps" v-if="!isSlot0">
        <div class="apply_form__steps__progress" :style="{width: progressBarWidth}"></div>
      </div>
      <form class="apply_form__body">
        <div :key="currentSlot" v-bind:class="{ container: !isSlot0 && !isSlot6, apply_form__body__step: !isSlot0 && !isSlot6 }">
          <slot :name="currentSlot"></slot>
        </div>
        <div class="apply_form__body__actions container">
          <button v-if="backEnabled" class="button --ghost --small" type="button" @click="goBack()">
            <span>Previous</span>
          </button>
          <button v-if="nextEnabled" class="button --ghost --small" type="button" @click="goNext()" :disabled="validateRequiredFields(currentStep)">
            <span v-html="nextButtonText"></span>
          </button>
        </div>
        <div class="above-sock-disclaimer" v-if="isSlot0">
          <h4>{{our_promise.mw_apply_our_promise_headline}}</h4>
          <p>{{our_promise.mw_apply_our_promise_copy}}</p>
        </div>
      </form>
    </div>
  </script>

<script type="text/x-template" id="apply">
  <div>
    <apply_form
      :steps="steps"
      :validateRequiredFields="validateRequiredFields">
      <div slot="page0">
        {% include 'hero.twig' with {'component': {
          mw_hero_image: {
            mw_hero_color: hero.mw_apply_hero_color,
            mw_hero_image: {
              url: hero.mw_apply_hero_image.url
            },
            mw_hero_headline: hero.mw_apply_hero_headline
          }
        }} %}

        <div class="container">
          <section>
            <h2>{{what_youll_need.mw_apply_what_youll_need_headline}}</h2>
            <div class="apply-form-column-container">
              {% for item in what_youll_need.mw_apply_what_youll_need_points %}
                {% if loop.index % 2 != 0 %}
                  <div v-bind:class="{ 'apply-form-column': {{loop.index % 2}} != 0 }">
                {% endif %}
                  <h3>{{item.mw_apply_what_youll_need_points_headline}}</h3>
                  <p>{{item.mw_apply_what_youll_need_points_copy}}</p>
                {% if loop.index % 2 == 0 %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </section>

          <section>
            <h2>{{post.get_field("mw_apply_cta_headline")}}</h2>
          </section>
        </div>
      </div>
      <div slot="page1">
        <h2>Overview</h2>

        <div class="apply-form-column-container">
          <div class="apply-form-column">
            <div class="input-container">
              <label for="personal-fullName" class="input-label">Full name:</label>
              <input id="personal-fullName" v-model="personal.name">
            </div>

            <div class="input-container">
              <label for="personal-phone" class="input-label">Phone number:</label>
              <input id="personal-phone" v-model="personal.phone">
            </div>

            <div class="input-container">
              <label for="personal-linkedin" class="input-label">LinkedIn Profile (optional):</label>
              <input id="personal-linkedin" v-model="personal.linkedinProfile">
            </div>

            <div class="input-container">
              <label for="personal-authorized" class="input-label input-label-question">Are you authorized to work in the US while in school or after graduation?</label>
              <p>Do not answer yes for OPT (F1 visa), temporary, DACA, or on campus work authorization.</p>
              <div class="radio-button-row-container">
                <label for="personal-authorized--yes" class="radio-button-container">Yes
                  <input type="radio" id="personal-authorized--yes" name="personal-authorized" value="true" v-model="personal.authorized">
                  <span class="radio-button"></span>
                </label>
                <label for="personal-authorized--no" class="radio-button-container">No
                  <input type="radio" id="personal-authorized--no" name="personal-authorized" value="false" v-model="personal.authorized">
                  <span class="radio-button"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="apply-form-column">
            <div class="input-container">
              <label for="personal-email" class="input-label">Email address:</label>
              <input id="personal-email" v-model="personal.email">
            </div>

            <div class="input-container">
              <label for="personal-contactMethod" class="input-label">Preferred method of contact:</label>
              <div class="radio-button-row-container">
                <label for="personal-contactMethod--email" class="radio-button-container">Email
                  <input type="radio" id="personal-contactMethod--email" name="personal-contactMethod" value="email" v-model="personal.methodOfContact">
                  <span class="radio-button"></span>
                </label>
                <label for="personal-contactMethod--call" class="radio-button-container">Call
                  <input type="radio" id="personal-contactMethod--call" name="personal-contactMethod" value="call" v-model="personal.methodOfContact">
                  <span class="radio-button"></span>
                </label>
                <label for="personal-contactMethod--text" class="radio-button-container">Text
                  <input type="radio" id="personal-contactMethod--text" name="personal-contactMethod" value="text" v-model="personal.methodOfContact">
                  <span class="radio-button"></span>
                </label>
              </div>
            </div>

            <div class="input-container">
              <label for="personal-profSite" class="input-label">Other professional site (optional):</label>
              <input id="personal-profSite" v-model="personal.otherProfSite">
            </div>

            <div class="input-container">
              <label for="personal-referral" class="input-label input-label-question">How did you hear about MentorWorks?</label>

              <label for="personal-referral--facebook" class="radio-button-container">Facebook
                <input type="radio" id="personal-referral--facebook" name="personal-referral" value="facebook" v-model="personal.referral">
                <span class="radio-button"></span>
              </label>
              <label for="personal-referral--on-campus-presentation" class="radio-button-container">On-campus presentation
                <input type="radio" id="personal-referral--on-campus-presentation" name="personal-referral" value="on-campus-presentation" v-model="personal.referral">
                <span class="radio-button"></span>
              </label>
              <label for="personal-referral--website-search" class="radio-button-container">Website or search
                <input type="radio" id="personal-referral--website-search" name="personal-referral" value="website-search" v-model="personal.referral">
                <span class="radio-button"></span>
              </label>
              <label for="personal-referral--friend" class="radio-button-container">Friend
                <input type="radio" id="personal-referral--friend" name="personal-referral" value="friend" v-model="personal.referral">
                <span class="radio-button"></span>
              </label>
              <label for="personal-referral--campus-abassador" class="radio-button-container">Campus abassador
                <input type="radio" id="personal-referral--campus-abassador" name="personal-referral" value="campus-ambassador" v-model="personal.referral">
                <span class="radio-button"></span>
              </label>
              <label for="personal-referral--other" class="radio-button-container">Other
                <input type="radio" id="personal-referral--other" name="personal-referral" value="other" v-model="personal.referral">
                <span class="radio-button"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div slot="page2">
        <h2>Your education</h2>

        <div class="input-container">
          <label for="fundingAmount" class="input-label input-label-question">How much funding do you need?</label>
          <input id="fundingAmount" class="secondary" v-model="fundingAmount">
          <span class="input-hint">We provide between $3,000 - $25,000.</span>
        </div>

        <div class="input-container">
          <label for="reasonForFunding" class="input-label input-label-question">What do you need funding for?</label>

          <div class="radio-button-row-container">
            <label for="reasonForFunding-undergraduate" class="radio-button-container">Undergraduate education
              <input type="radio" id="reasonForFunding-undergraduate" name="reasonForFunding" value="undergraduate" v-model="reasonForFunding">
              <span class="radio-button"></span>
            </label>
            <label for="reasonForFunding-graduate" class="radio-button-container">Graduate education
              <input type="radio" id="reasonForFunding-graduate" value="graduate" name="reasonForFunding" v-model="reasonForFunding">
              <span class="radio-button"></span>
            </label>
            <label for="reasonForFunding-bootCamp" class="radio-button-container">Boot camp
              <input type="radio" id="reasonForFunding-bootCamp" value="bootCamp" name="reasonForFunding" v-model="reasonForFunding">
              <span class="radio-button"></span>
            </label>
          </div>
        </div>

        <div v-if="reasonForFunding === 'bootCamp'">
          <h2>Boot camp details</h2>

          <div class="apply-form-column-container">
            <div class="apply-form-column">
              <div class="input-container">
                <label for="bootCamp-name" class="input-label">Bootcamp name:</label>
                <input id="bootCamp-name" v-model="bootCamp.name">
              </div>
              <div class="input-container">
                <label for="bootCamp-date" class="input-label">Start date (mm/yyyy):</label>
                <input id="bootCamp-date" v-model="bootCamp.date">
              </div>
            </div>

            <div class="apply-form-column">
              <div class="input-container">
                <label for="bootCamp-course" class="input-label">Course name:</label>
                <input id="bootCamp-course" v-model="bootCamp.course">
              </div>

              <div class="input-container">
                <label for="bootCamp-length" class="input-label">Course length:</label>
                <input id="bootCamp-length" v-model="bootCamp.length">
              </div>
            </div>
          </div>
        </div>
        <div v-if="reasonForFunding === 'graduate' || reasonForFunding === 'bootCamp'">
          <h2>Your graduate education<span v-if="reasonForFunding === 'bootCamp'"> (optional)</span></h2>

          <div class="apply-form-column-container">
            <div class="apply-form-column">
              <div class="input-container">
                <label for="graduate-name" class="input-label">University name:</label>
                <input id="graduate-name" v-model="graduate.name">
              </div>
              <div class="input-container">
                <label for="graduate-gpa" class="input-label">GPA (out of 4.0):</label>
                <input id="graduate-gpa" v-model="graduate.gpa">
              </div>
            </div>
            <div class="apply-form-column">
              <div class="input-container">
                <label for="graduate-date" class="input-label">Graduation (mm/yyyy):</label>
                <input id="graduate-date" v-model="graduate.date">
              </div>

              <div class="input-container">
                <label for="graduate-majorMinor" class="input-label">Major &amp; Minor, if applicable:</label>
                <input id="graduate-majorMinor" v-model="graduate.majorMinor">
              </div>
            </div>
          </div>
        </div>
        <div v-if="reasonForFunding === 'undergraduate' || reasonForFunding === 'graduate' || reasonForFunding === 'bootCamp'">
          <h2>Your undergraduate education<span v-if="reasonForFunding === 'bootCamp'"> (optional)</span></h2>

          <div class="apply-form-column-container">
            <div class="apply-form-column">
              <div class="input-container">
                <label for="undergraduate-name" class="input-label">University name:</label>
                <input id="undergraduate-name" v-model="undergraduate.name">
              </div>
              <div class="input-container">
                <label for="undergraduate-gpa" class="input-label">GPA (out of 4.0):</label>
                <input id="undergraduate-gpa" v-model="undergraduate.gpa">
              </div>
            </div>
            <div class="apply-form-column">
              <div class="input-container">
                <label for="undergraduate-date" class="input-label">Graduation (mm/yyyy):</label>
                <input id="undergraduate-date" v-model="undergraduate.date">
              </div>

              <div class="input-container">
                <label for="undergraduate-majorMinor" class="input-label">Major &amp; Minor, if applicable:</label>
                <input id="undergraduate-majorMinor" v-model="undergraduate.majorMinor">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div slot="page3">
        <h2>Your achievements</h2>
        <label for="freeResponse-extracurriculars" class="input-label input-label-question">Highlight what you’ve done outside of classes. List any leadership positions here as well.</label>
        <textarea id="freeResponse-extracurriculars" v-model="freeResponse.extracurriculars"></textarea>

        <label for="freeResponse-workExperience" class="input-label input-label-question">Please list any significant work or military experience.</label>
        <textarea id="freeResponse-workExperience" v-model="freeResponse.workExperience"></textarea>

        <h2>Your experience</h2>
        <label for="freeResponse-lifeDifficulty" class="input-label input-label-question">Briefy describe a significant difficulty in your life that you had to overcome (up to 100 words).</label>
        <textarea id="freeResponse-lifeDifficulty" v-model="freeResponse.lifeDifficulty"></textarea>

        <label for="freeResponse-careerInterests" class="input-label input-label-question">Please list up to three careers that you interested in pursuing and why you are interested in pursuing them (up to 100 words).</label>
        <textarea id="freeResponse-careerInterests" v-model="freeResponse.careerInterests"></textarea>
      </div>
      <div slot="page4">
        <h2>References</h2>
        <p>List three professional references. These can be professors, coaches, or other adults who know your strengths, but should not be friends or family.</p>
        <p>You must notify your references that you are listing them, but they do not need to write a letter. We will reach out to them shortly.</p>

        <h3>Reference 1</h3>
        <div class="apply-form-column-container">
          <div class="apply-form-column">
            <div class="input-container">
              <label for="reference0-name" class="input-label">Full name:</label>
              <input id="reference0-name" v-model="reference0.name">
            </div>

            <div class="input-container">
              <label for="reference0-phone" class="input-label">Phone number:</label>
              <input id="reference0-phone" v-model="reference0.phone">
            </div>
          </div>

          <div class="apply-form-column">
            <div class="input-container">
              <label for="reference0-email" class="input-label">Email address:</label>
              <input id="reference0-email" v-model="reference0.email">
            </div>
            <div class="input-container">
              <label for="reference0-relationship" class="input-label">Relationship to reference:</label>
              <input id="reference0-relationship" v-model="reference0.relationship">
            </div>
          </div>
        </div>

        <h3>Reference 2</h3>
        <div class="apply-form-column-container">
          <div class="apply-form-column">
            <div class="input-container">
              <label for="reference1-name" class="input-label">Full name:</label>
              <input id="reference1-name" v-model="reference1.name">
            </div>

            <div class="input-container">
              <label for="reference1-phone" class="input-label">Phone number:</label>
              <input id="reference1-phone" v-model="reference1.phone">
            </div>
          </div>

          <div class="apply-form-column">
            <div class="input-container">
              <label for="reference1-email" class="input-label">Email address:</label>
              <input id="reference1-email" v-model="reference1.email">
            </div>
            <div class="input-container">
              <label for="reference1-relationship" class="input-label">Relationship to reference:</label>
              <input id="reference1-relationship" v-model="reference1.relationship">
            </div>
          </div>
        </div>

        <h3>Reference 3 (optional)</span></h3>
        <div class="apply-form-column-container">
          <div class="apply-form-column">
            <div class="input-container">
              <label for="reference2-name" class="input-label">Full name:</label>
              <input id="reference2-name" v-model="reference2.name">
            </div>

            <div class="input-container">
              <label for="reference2-phone" class="input-label">Phone number:</label>
              <input id="reference2-phone" v-model="reference2.phone">
            </div>
          </div>

          <div class="apply-form-column">
            <div class="input-container">
              <label for="reference2-email" class="input-label">Email address:</label>
              <input id="reference2-email" v-model="reference2.email">
            </div>
            <div class="input-container">
              <label for="reference2-relationship" class="input-label">Relationship to reference:</label>
              <input id="reference2-relationship" v-model="reference2.relationship">
            </div>
          </div>
        </div>
      </div>
      <div slot="page5">
        <h2>Attachments</h2>
        <p>You’re almost done! Just add the finishing touches.</p>

        <div>
          <h3>Resume</h3>
          <p>Your resume must be a PDF. If you have a word document, save as a PDF.</p>
        </div>
        <div>
          <h3>Transcript</h3>
          <p>This can be official or unofficial. If it’s unofficial, note that you will need to provide the official version if accepted into MentorWorks.</p>
        </div>
        <div>
          <h3>Identification document</h3>
          <p>We accept driver’s license, passport, state ID, or college/university-issued ID.</p>
        </div>
        <div>
          <h3>Financial Aid document (optional)</h3>
          <p>Demonstrate your financial need with your school or program’s financial aid package. If you choose not to attach a document at this time, note that you will eventually need to prove your financial need.</p>
        </div>
      </div>
      <div slot="page6">
        <div class="container">
          <img class="apply-form-balloons" src="{{site.theme.link}}/gif/balloons.gif">
          <h2>Congrats</h2>
          <p>We’ve received your application and will contact you soon. Check your email within 10 business days. Here’s towards your first step into your future career!</p>
          <h2>Stay connected while you wait</h2>
          {% for item in recent_blog_posts %}
            {% include 'tease-post.twig' with { 'post': item } %}
          {% endfor %}
        </div>
      </div>
    </apply_form>
  </div>
</script>

{% endblock %}
