{% extends "base.twig" %}

{% block content %}
  <main class="home">
    <!-- Since the nav is transparent, spacing div is necessary to overlay the top part of the
      hero circle and provide a white backdrop under the nav -->
    <div class="spacer"></div>
    <section class="section hero right-side">
      <img class="hero-image" src="{{site.theme.link}}/temp/taylor-grote.jpg"
        srcset="{{site.theme.link}}/temp/taylor-grote@2x.jpg 2x, {{site.theme.link}}/temp/taylor-grote@3x.jpg 3x">
      <div class="big-circle orange"></div>
      <section class="content">
        <h1>Get funded, stay connected</h1>
        <div class="subtitle">Finance your education and learn from industry leaders</div>
        <a href="/apply" class="button">Apply</a>
      </section>
    </section>
    <section class="section dual-focus-wrapper">
      <h2>Our dual focus</h2>
      <div class="dual-focus">
        <section>
          <div class="icon-container icon-cash">
            <img src="{{site.theme.link}}/svg/cash.svg" alt="Stack of cash" class="icon">
          </div>
          <h3>Income Share Agreements</h3>
          <h5>
            MentorWorks provides education financing for students through Income Sharing Agreements (ISAs) and provide 
            networking opportunities with valuable mentors and employers.
          </h5>
        </section>
        <section>
          <div class="icon-container icon-handshake">
            <img src="{{site.theme.link}}/svg/handshake.svg" alt="Handshake" class="icon">
          </div>
          <h3>Mentorship Program</h3>
          <h5>
            Mentors will come from a pool of individuals who want to help students, corporate professionals that want greater access 
            to a diverse talent pool. Investors could also be mentors, and so could students graduating from our program.
          </h5>
        </section>
      </div>
    </section>
    <section class="section hero left-side">
      <img class="hero-image" src="{{site.theme.link}}/temp/taylor-grote.jpg"
        srcset="{{site.theme.link}}/temp/taylor-grote@2x.jpg 2x, {{site.theme.link}}/temp/taylor-grote@3x.jpg 3x">
      <div class="big-circle teal"></div>
      <section class="content">
        <h2>Get funding today</h2>
        <div class="subtitle">
          We provide financial assistance for traditional college programs as well
          as professional development training.
        </div>
        <a href="/for-students" class="button">For students</a>
      </section>
    </section>
    <section class="section stats-wrapper">
      <section class="stat">
        <div class="number-wrapper">
          <figure class="number">2.5</figure>
          <svg class="stat-icon" xmlns="http://www.w3.org/2000/svg" width="215" height="234" viewBox="0 0 215 234">
            <g fill="none" fill-rule="evenodd" font-size="300">
              <text fill="#71808B" fill-opacity=".1" transform="translate(-10 -96)">
                <tspan x="12.066" y="326">%</tspan>
              </text>
              <text fill="#FFF" stroke="#419F8E" stroke-width="2" opacity=".5" transform="translate(-10 -96)">
                <tspan x=".066" y="314">%</tspan>
              </text>
            </g>
          </svg>
        </div>
        <label>Mentors already on our revolutionary program</label>
      </section>
      <section class="stat">
        <div class="number-wrapper">        
          <figure class="number">90</figure>
          <svg class="stat-icon plus-icon" xmlns="http://www.w3.org/2000/svg" width="156" height="167" viewBox="0 0 156 167">
            <g fill="none" fill-rule="evenodd" font-size="300">
              <text fill="#71808B" fill-opacity=".1" transform="translate(-10 -136)">
                <tspan x="9.638" y="324">+</tspan>
              </text>
              <text fill="#FFF" stroke="#419F8E" stroke-width="2" opacity=".5" transform="translate(-10 -136)">
                <tspan x=".638" y="314">+</tspan>
              </text>
            </g>
          </svg>
        </div>
        <label>Average percentage of future salary pledged</label>
      </section>
      <section class="stat">
        <div class="number-wrapper">
          <figure class="number">3,000</figure>
          <svg class="stat-icon dollar-icon" xmlns="http://www.w3.org/2000/svg" width="142" height="246" viewBox="0 0 142 246">
            <g fill="none" fill-rule="evenodd" font-size="300">
              <text fill="#71808B" fill-opacity=".1" transform="translate(-11 -128)">
                <tspan x="12.05" y="350">$</tspan>
              </text>
              <text fill="#FFF" stroke="#419F8E" stroke-width="2" opacity=".5" transform="translate(-11 -128)">
                <tspan x=".05" y="339">$</tspan>
              </text>
            </g>
          </svg>          
        </div>
        <label>Average amount of funding received</label>
      </section>
    </section>
    <section class="section hero right-side">
      <img class="hero-image" src="{{site.theme.link}}/temp/taylor-grote.jpg" 
        srcset="{{site.theme.link}}/temp/taylor-grote@2x.jpg 2x, {{site.theme.link}}/temp/taylor-grote@3x.jpg 3x">
      <div class="big-circle green"></div>
      <section class="content">
        <h2>Become a mentor</h2>
        <div class="subtitle">
           If you’re a working professional or a representative of a company 
           looking to get involved, we’d love to hear from you.
        </div>
        <a href="/for-mentors" class="button">For mentors</a>
      </section>
    </section>
    {% include 'email-signup.twig' %}
  </main>
{% endblock %}
