<div class="footer-main">
  <!-- <div class="footer-logo"> -->
    <span class="footer-logo">
      <img class="logo-icon" src="{{site.theme.link}}/svg/mw-logo-white.svg">
      MentorWorks
    </span>
  <!-- </div> -->
  <div class="footer-nav">
    {% for item in footer_menu.items %}
      <a class="nav-link {{ item.classes|join(' ') }}" href="{{ item.link }}">
        {{ item.title }}
      </a>
    {% endfor %}
  </div>
  <div class="footer-social-media">
    {% for item in social_media_icons.items %}
      <a href="{{ item.link }}">
        <img class="social-media-icon" src="{{site.theme.link}}/svg/{{ item.classes[0] }}.svg">
      </a>
    {% endfor %}
  </div>
</div>

<div class="footer-divider"></div>

<div class="footer-attributions">
  <div class="copyright">
    Copyright MentorWorks.io 2018
  </div>
  <div class="attribution">
    <a class="scout-byline" href="https://neu.edu/scout" target="_blank">
      Designed with
      <span>
        <img class="heart" src="{{site.theme.link}}/svg/heart.svg">
      </span>
      by Scout.</a>
    Powered by WordPress.
  </div>
</div>

<div class="footer-disclaimer">
  <b>DISCLAIMER</b>
  <br>
  The information on this website is in no way a solicitation of an offer to sell or buy securities or other financial
  instruments. Further, none of the information contained on this website is a recommendation to invest in any securities or
  other financial instruments.
</div>
