<div class="footer-main">
  <span class="footer-logo">
    <img class="logo-icon" src="{{site.theme.link}}/svg/mw-logo-white.svg">
    {{site.name}}
  </span>
  <div class="footer-nav">
    {% for item in footer_menu.items %}
      <a class="nav-link {{ item.classes|join(' ') }}" href="{{ item.link }}">
        {{ item.title }}
      </a>
    {% endfor %}
  </div>
  <div class="footer-social-media">
    {% for item in social_media_icons.items %}
      <a href="{{ item.link }}">
        <img class="social-media-icon" src="{{site.theme.link}}/svg/{{ item.classes[0] }}.svg">
      </a>
    {% endfor %}
  </div>
</div>

<div class="footer-divider"></div>

<div class="footer-attributions">
  <div class="copyright">
    {{options.mw_footer_copyright_copy}}
  </div>
  <div class="attribution">
    <a class="scout-byline" href="https://neu.edu/scout" target="_blank">
      Designed with
      <span>
        <img class="heart" src="{{site.theme.link}}/svg/heart.svg">
      </span>
      by Scout.</a>
    Powered by WordPress.
  </div>
</div>

<div class="footer-disclaimer">
  <b>{{options.mw_footer_disclaimer.mw_footer_disclaimer_headline}}</b>
  <br>
  {{options.mw_footer_disclaimer.mw_footer_disclaimer_copy}}
</div>
