<meta charset="{{site.charset}}" />
<title>
  {% if wp_title %}
    {{ wp_title }} - {{ site.name }}
  {% else %}
    {{ site.name }}
  {% endif %}
</title>
<meta name="description" content="{{site.description}}">
<link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="pingback" href="{{site.pingback_url}}" />
<link href="https://fonts.googleapis.com/css?family=Bitter|Roboto+Slab|Roboto:400,400i,500,500i,700,700i" rel="stylesheet" />
<link rel="shortcut icon" href="{{site.theme.link}}/png/m-wlogo.png" type="image/x-icon" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{function('wp_head')}}
