{% extends "base.twig" %}

{% block content %}
	<article class="single-post container" id="post-{{post.ID}}">
		<header class="single-post-header">
			<h1>{{ post.title }}</h1>
			<h3 class="single-post-subtitle">{{post.get_field("mw_post_subtitle")}}</h3>
			<h6 class="single-post-meta">
				{{ post.author.name }} | {{ post.post_date | date }}
			</h6>
		</header>
		<main class="single-post-content">
			{{ post.content }}
		</main>
	</article>

	<div class="above-sock-disclaimer">
		<h2>{{options.mw_post_related_articles_headline}}</h2>
		<div class="posts-grid">
			{% for post in relatedPosts %}
				{% include 'tease-post.twig' %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
