{% set hero = component.mw_hero_image %}

<section class="section hero right-side" style="background-image: url('{{ hero.mw_hero_image.url }}')">
  <div class="big-circle {{ hero.mw_hero_color }}"></div>
  <section class="content">
    <h1>{{ hero.mw_hero_headline }}</h1>
    <div class="subtitle">{{ hero.mw_hero_subheadline }}</div>

    {% if hero.mw_hero_cta_copy and hero.mw_hero_cta_link %}
      <a href="{{ hero.mw_hero_cta_link }}" class="button">
        {{ hero.mw_hero_cta_copy }}
      </a>
    {% endif %}
  </section>
</section>
